/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.pane1{
	-fx-background-image: url('playa.jpeg');
	-fx-background-size:100%;	
	-fx-background-repeat: no-repeat;
}

.pane2{
	-fx-background-image: url('mountain.jpeg');
	-fx-background-size:100%;
	-fx-background-repeat: no-repeat;
}

.pane3{
	fx-background-image: url('bosque.jpeg');
	-fx-background-size:100%;
	-fx-background-repeat: no-repeat;
}

.pane4{
	-fx-background-image: url('campo.jpeg');
	-fx-background-size:100%;
	-fx-background-repeat: no-repeat;
}